.App {
  text-align: center;
}
a { text-decoration: none; color:inherit; }
.background {
  width: 100%;
  background-image: url('./background.jpg');
  background-size: cover;
  height: 700px;
  color: #fff;
  margin-bottom: 30px;
  min-width: 600px;
}
.background h1 {
  padding-top: 200px;
  padding-bottom: 30px;
}
.background p {
  padding-top: 30px;
}
